<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/bootstrap/bootstrap.min.css"
    />
    <link rel="stylesheet" href="public/css/estilos.css" />
  </head>
<body>
    {{#if skaters}}
<div class="py-4">
      <h2>Lista de participantes</h2>

      <hr />

      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
            {{#each skaters}}
          <tr>
            <th scope="row">{{this.id}}</th>
            <td><img src="/public/imgs/{{this.email}}.jpg" alt="{{this.nombre}}" width="100px" height="100px"></td>
            <td>{{this.nombre}}</td>
            <td>{{this.anos_experiencia}}</td>
            <td>{{this.especialidad}}</td>
            {{#if this.estado}}
            <td class="text-success font-weight-bold">Aprobado</td>
            {{else}}
            <td class="text-warning font-weight-bold">En revision</td>
            {{/if}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
      <a href="/login">Iniciar Sesión</a> |
      <a href="/registro">Registrarme</a>
    </div>
</body>

