<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/bootstrap/bootstrap.min.css"
    />
    <link rel="stylesheet" href="public/css/estilos.css" />
  </head>
  <body>
    
<div class="py-4">
      <h2>Administración</h2>
      <hr class="w-50 container" />
      <table class="table w-50 m-auto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
            {{#each skaters}}
          <tr>
            <th scope="row">{{this.id}}</th>
            <td><img src="/public/imgs/{{this.email}}.jpg" alt="{{this.nombre}}" width="100px" height="100px"></td>
            <td>{{this.nombre}}</td>
            <td>{{this.anos_experiencia}}</td>
            <td>{{this.especialidad}}</td>
            <td><input type="checkbox" onclick="cambioCheckbox{{this.id}}()" id="{{this.id}}" /></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <script>
    {{#each skaters}}
      function cambioCheckbox{{this.id}} () {
      let checkbox = document.getElementById("{{this.id}}")
        if (checkbox.checked) {
            alert("Se ha cambiado el estado ha 'Aprobado'") 
            window.location.href = "/?id={{this.id}}&estado=true"
        } else{
            alert("Se ha cambiado el estado a 'En revisión'") 
            window.location.href = "/?id={{this.id}}&estado=false"

        }
      }

      function checkingBox{{this.id}}() {
        let checkbox = document.getElementById("{{this.id}}")
        if ({{this.estado}} == true) {
            checkbox.setAttribute("checked", "checked")
        }

      }
      checkingBox{{this.id}}()
    {{/each}}
    </script>
  </body>